


ul {
    list-style-type: none;
}

h1{
    font-size: 3rem;
    text-align: center;
    margin: 20px;
}


h2{
    padding: 20px;
}

p, h3{
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.5;
    padding: 30px;
    font-family: Preahvihear;
}

a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-family: preahvihear;
}
h1,h4{
    font-family: vina sans;
    letter-spacing: 5px;
}

.sitios a{
    color: black;
}



@media screen and (max-width: 480px) {
    .padre{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto 0.5fr auto 0.3fr auto;
        grid-template-areas:
            "ac" 
            "b"
            "d"
    }
    footer{
        width: 100vh;
    }
    header{
        width: 100vh;
    }
}