







@media screen and (max-width: 480px) {
    .padre{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto 0.5fr auto 0.3fr auto;
        grid-template-areas:
            "ac" 
            "b"
            "d"
    }
    footer{
        width: 100vh;
    }
    header{
        width: 100vh;
    }
}